{:kotoba.app/latest "k51qzi5uqu5dhquqdw6xdo1e0qzydpl7c974tddjk9tr8kzvrwfbyu8c7sj3ic", :kotoba.app/site-cid "bafybeih3mmlgzlmsxakmy6pchkkp2rh5hl3dtaijggas6uv337uanauthe", :kotoba.app/id "cloud.itonami.app-warehouse", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5dhquqdw6xdo1e0qzydpl7c974tddjk9tr8kzvrwfbyu8c7sj3ic", :published {:own-nodes {:cid "bafybeih3mmlgzlmsxakmy6pchkkp2rh5hl3dtaijggas6uv337uanauthe", :ipns "k51qzi5uqu5dhquqdw6xdo1e0qzydpl7c974tddjk9tr8kzvrwfbyu8c7sj3ic", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T03:16:21Z"}}}
